In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
file_dir = 'C:/Users/laksh/OneDrive/Desktop/DataAnalytics Bootcamp/Analysis Projects/'

In [3]:
with open(f'{file_dir}/wikipedia.movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
len(wiki_movies_raw)

7311

In [5]:
wiki_movies_raw[:5]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/After_Dark,_My_Sweet',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098994/',
  'title': 'After Dark, My Sweet',
  'Directed by': 'James Foley',
  'Produced by': ['Ric Kidney', 'Robert Redlin'],
  'Screenplay by': ['James Foley', 'Robert Redlin'],
  'Based on': ['the novel', 'After Dark, My Sweet', 'by', 'Jim Thompson'],
  'Starring': ['Jason Patric',
   'Rachel Ward',
   'Bruce Dern',
   'George Dickerson'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Mark Plummer',
  'Edited by': 'Howard E. Smith',
  'Productioncompany ': 'Avenue Pictures',
  'Distributed by': 'Avenue Pictures',
  'Release date': ['May 17, 1990',
   '(',
   '1990-05-17',
   ')',
   '(Cannes Film Market)',
   'August 24, 1990',
   '(',
   '1990-08-24',
   ')',
   '(United States)'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$6 million',
  'Box office': '$2.7 million'},
 {'url': 'https://en.wikipedia.org/wiki/Air_America_(film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099005/',
  'title': 'Air America',
  'Directed by': 'Roger Spottiswoode',
  'Produced by': 'Daniel Melnick',
  'Screenplay by': ['John Eskow', 'Richard Rush'],
  'Based on': ['Air America', 'by', 'Christopher Robbins'],
  'Starring': ['Mel Gibson',
   'Robert Downey Jr.',
   'Nancy Travis',
   'David Marshall Grant',
   'Lane Smith'],
  'Music by': 'Charles Gross',
  'Cinematography': 'Roger Deakins',
  'Edited by': ['John Bloom', 'Lois Freeman-Fox'],
  'Productioncompany ': ['Carolco Pictures', 'IndieProd Company'],
  'Distributed by': 'TriStar Pictures',
  'Release date': ['August 10, 1990', '(', '1990-08-10', ')'],
  'Running time': '113 minutes',
  'Country': 'United States',
  'Language': ['English', 'Lao'],
  'Budget': '$35 million',
  'Box office': '$57,718,089'},
 {'url': 'https://en.wikipedia.org/wiki/Alice_(1990_film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099012/',
  'title': 'Alice',
  'Directed by': 'Woody Allen',
  'Produced by': 'Robert Greenhut',
  'Written by': 'Woody Allen',
  'Starring': ['Alec Baldwin',
   'Blythe Danner',
   'Judy Davis',
   'Mia Farrow',
   'William Hurt',
   'Keye Luke',
   'Joe Mantegna',
   'Bernadette Peters'],
  'Cinematography': 'Carlo Di Palma',
  'Edited by': 'Susan E. Morse',
  'Distributed by': 'Orion Pictures',
  'Release date': ['December 25, 1990', '(', '1990-12-25', ')'],
  'Running time': '106 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$12 million',
  'Box office': '$7,331,647'},
 {'url': 'https://en.wikipedia.org/wiki/Almost_an_Angel',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099018/',
  'title': 'Almost an Angel',
  'Directed by': 'John Cornell',
  'Produced by': 'John Cornell',
  'Written by': 'Paul Hogan',
  'Starring': ['Paul Hogan', 'Elias Koteas', 'Linda Kozlowski'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Russell Boyd',
  'Edited by': 'David Stiven',
  'Distributed by': 'Paramount Pictures',
  'Release date': 'December 19, 1990',
  'Running time': '95 minutes',
  'Country': 'US',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$6,939,946 (USA)'}]

In [6]:
# Some records in the middle
wiki_movies_raw[3600:3605]

[{'url': 'https://en.wikipedia.org/wiki/Benji:_Off_the_Leash!',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315273/',
  'title': 'Benji: Off the Leash!',
  'Directed by': 'Joe Camp',
  'Written by': 'Joe Camp',
  'Starring': ['Benji', 'Nick Whitaker', 'Shaggy', 'Gypsy the Cockatoo'],
  'Music by': 'Antonio di Lorenzo',
  'Productioncompany ': 'Mulberry Square Productions',
  'Distributed by': 'Mulberry Square Productions',
  'Release date': ['March 26, 2004', '(', '2004-03-26', ')'],
  'Running time': '97 min',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$3,817,362'},
 {'url': 'https://en.wikipedia.org/wiki/The_Best_Thief_in_the_World',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0389796/',
  'title': 'The Best Thief in the World',
  'Directed by': 'Jacob Kornbluth',
  'Produced by': ['Tim Perrell', 'Nicola Usborne'],
  'Written by': 'Jacob Kornbluth',
  'Starring': ['Marc Rozendaal',
   'Michael Silverman',
   'David Warshofsky',
   'Audra McDonald',
   'Lois Smith'],
  'Music by': ['Prince Paul', 'and', 'Don Newkirk'],
  'Cinematography': 'Ben Kutchins',
  'Edited by': 'Stephanie Sterner',
  'Distributed by': 'Showtime Networks',
  'Release date': ['January 16, 2004', '(', '2004-01-16', ')'],
  'Running time': '93 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Beyond_the_Sea_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0363473/',
  'title': 'Beyond the Sea',
  'Directed by': 'Kevin Spacey',
  'Produced by': ['Kevin Spacey',
   'Phillip Barry',
   'Dana Brunetti',
   'Arthur Friedman',
   'Jan Fantl',
   'Andy Paterson'],
  'Written by': ['Lewis Colick', 'Kevin Spacey'],
  'Starring': ['Kevin Spacey', 'Kate Bosworth', 'Bob Hoskins', 'John Goodman'],
  'Music by': 'Bobby Darin',
  'Cinematography': 'Eduardo Serra',
  'Edited by': 'Trevor Waite',
  'Productioncompany ': 'Trigger Street Productions',
  'Distributed by': ['Lionsgate Films',
   '(USA)',
   'Entertainment Film Distributors',
   '(UK)',
   'GAGA',
   '(Japan)',
   'Maple Pictures',
   '(Canada)'],
  'Release date': ['December 17, 2004', '(', '2004-12-17', ')'],
  'Running time': '118 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$8.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/The_Big_Bounce_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315824/',
  'title': 'The Big Bounce',
  'Directed by': 'George Armitage',
  'Produced by': ['George Armitage', 'Steve Bing'],
  'Screenplay by': 'Sebastian Gutierrez',
  'Based on': ['The Big Bounce', 'by', 'Elmore Leonard'],
  'Starring': ['Owen Wilson',
   'Charlie Sheen',
   'Morgan Freeman',
   'Sara Foster',
   'Gary Sinise'],
  'Music by': 'George S. Clinton',
  'Cinematography': 'Jeffrey L. Kimball',
  'Edited by': 'Barry Malkin',
  'Productioncompany ': 'Shangri-La Entertainment',
  'Distributed by': 'Warner Bros. Pictures',
  'Release date': ['January 30, 2004', '(', '2004-01-30', ')'],
  'Running time': '88 minutes',
  'Language': 'English',
  'Budget': '$50 million',
  'Box office': '$6.8 million'},
 {'url': 'https://en.wikipedia.org/wiki/Birth_(film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0337876/',
  'title': 'Birth',
  'Directed by': 'Jonathan Glazer',
  'Produced by': ['Lizie Gower', 'Nick Morris', 'Jean-Louis Piel'],
  'Written by': ['Jean-Claude Carrière', 'Milo Addica', 'Jonathan Glazer'],
  'Starring': ['Nicole Kidman',
   'Cameron Bright',
   'Danny Huston',
   'Lauren Bacall'],
  'Music by': 'Alexandre Desplat',
  'Cinematography': 'Harris Savides',
  'Edited by': ['Sam Sneade', 'Claus Wehlisch'],
  'Distributed by': 'New Line Cinema',
  'Release date': ['November 8, 2004', '(', '2004-11-08', ')'],
  'Running time': '96 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$23.9 million'}]

In [7]:
# Last 5 records
wiki_movies_raw[-5:]

[{'url': 'https://en.wikipedia.org/wiki/Holmes_%26_Watson',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt1255919/',
  'title': 'Holmes & Watson',
  'Directed by': 'Etan Cohen',
  'Produced by': ['Will Ferrell',
   'Adam McKay',
   'Jimmy Miller',
   'Clayton Townsend'],
  'Screenplay by': 'Etan Cohen',
  'Based on': ['Sherlock Holmes',
   'and',
   'Dr. Watson',
   'by',
   'Sir Arthur Conan Doyle'],
  'Starring': ['Will Ferrell',
   'John C. Reilly',
   'Rebecca Hall',
   'Rob Brydon',
   'Steve Coogan',
   'Ralph Fiennes'],
  'Music by': 'Mark Mothersbaugh',
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Dean Zimmerman',
  'Productioncompanies ': ['Columbia Pictures',
   'Gary Sanchez Productions',
   'Mosaic Media Group',
   'Mimran Schur Pictures'],
  'Distributed by': 'Sony Pictures Releasing',
  'Release date': ['December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '90 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$42 million',
  'Box office': '$41.9 million'},
 {'url': 'https://en.wikipedia.org/wiki/Vice_(2018_film)',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt6266538/',
  'title': 'Vice',
  'Directed by': 'Adam McKay',
  'Produced by': ['Brad Pitt',
   'Dede Gardner',
   'Jeremy Kleiner',
   'Kevin J. Messick',
   'Will Ferrell',
   'Adam McKay'],
  'Written by': 'Adam McKay',
  'Starring': ['Christian Bale',
   'Amy Adams',
   'Steve Carell',
   'Sam Rockwell',
   'Tyler Perry',
   'Alison Pill',
   'Lily Rabe',
   'Jesse Plemons'],
  'Music by': 'Nicholas Britell',
  'Cinematography': 'Greig Fraser',
  'Edited by': 'Hank Corwin',
  'Productioncompany ': ['Plan B Entertainment',
   'Gary Sanchez Productions',
   'Annapurna Pictures'],
  'Distributed by': 'Mirror Releasing',
  'Release date': ['December 11, 2018',
   '(',
   '2018-12-11',
   ')',
   '(',
   'Samuel Goldwyn Theater',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '132 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$60 million',
  'Box office': '$76.1 million'},
 {'url': 'https://en.wikipedia.org/wiki/On_the_Basis_of_Sex',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt4669788/',
  'title': 'On the Basis of Sex',
  'Directed by': 'Mimi Leder',
  'Produced by': 'Robert W. Cort',
  'Written by': 'Daniel Stiepleman',
  'Starring': ['Felicity Jones',
   'Armie Hammer',
   'Justin Theroux',
   'Sam Waterston',
   'Kathy Bates'],
  'Music by': 'Mychael Danna',
  'Cinematography': 'Michael Grady',
  'Edited by': 'Michelle Tesoro',
  'Productioncompanies ': ['Focus Features',
   '[1]',
   'Participant Media',
   '[1]',
   'Robert Cort Productions',
   '[1]',
   'Alibaba Pictures',
   '[2]'],
  'Distributed by': 'Focus Features',
  'Release date': ['November 8, 2018',
   '(',
   '2018-11-08',
   ')',
   '(',
   'AFI Fest',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '120 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$38.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/Destroyer_(2018_film)',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt7137380/',
  'title': 'Destroyer',
  'Directed by': 'Karyn Kusama',
  'Produced by': ['Fred Berger', 'Phil Hay', 'Matt Manfredi'],
  'Written by': ['Phil Hay', 'Matt Manfredi'],
  'Starring': ['Nicole Kidman',
   'Sebastian Stan',
   'Toby Kebbell',
   'Tatiana Maslany',
   'Bradley Whitford',
   'Jade Pettyjohn',
   'Scoot McNairy'],
  'Music by': 'Theodore Shapiro',
  'Cinematography': 'Julie Kirkwood',
  'Edited by': 'Plummy Tucker',
  'Productioncompany ': ['30West',
   'Automatik Entertainment',
   'Annapurna Pictures'],
  'Distributed by': 'Mirror Releasing',
  'Release date': ['August 31, 2018',
   '(',
   '2018-08-31',
   ')',
   '(',
   'Telluride',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '123 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$9 million',
  'Box office': '$5.5 million'},
 {'url': 'https://en.wikipedia.org/wiki/Black_Mirror:_Bandersnatch',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt9495224/',
  'title': 'Bandersnatch',
  'Directed by': 'David Slade',
  'Produced by': 'Russell McLean',
  'Written by': 'Charlie Brooker',
  'Starring': ['Fionn Whitehead',
   'Will Poulter',
   'Craig Parkinson',
   'Alice Lowe',
   'Asim Chaudhry'],
  'Music by': 'Brian Reitzell',
  'Cinematography': ['Aaron Morton', 'Jake Polonsky'],
  'Edited by': 'Tony Kearns',
  'Productioncompany ': ['House of Tomorrow', 'Netflix'],
  'Distributed by': 'Netflix',
  'Release date': ['28 December 2018', '(', '2018-12-28', ')'],
  'Running time': 'Variable; 90 minutes for default path',
  'Country': 'United Kingdom',
  'Language': 'English'}]

In [8]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv',low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [9]:
kaggle_metadata.sample(7)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9329,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,10981,tt0298482,en,Nothing,The film tells the story of two good friends w...,...,2003-09-09,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Nothing,False,5.8,38.0
2401,False,"{'id': 10789, 'name': 'Pet Sematary Collection...",8000000,"[{'id': 27, 'name': 'Horror'}]",NaN,10906,tt0105128,en,Pet Sematary II,"The ""sematary"" is up to its old zombie-raising...",...,1992-08-28,17092453.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Raise Some Hell.,Pet Sematary II,False,5.0,107.0
41619,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,230031,tt2543838,en,Evacuate Earth,"If we faced a countdown to destruction, could ...",...,2012-12-02,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Evacuate Earth,False,7.2,3.0
38239,False,"{'id': 360346, 'name': 'Tarzan (Mike Henry ser...",0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,76081,tt0061067,en,Tarzan and the Valley of Gold,The international criminal Vinaro enjoys sendi...,...,1966-07-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All New High Adventure!,Tarzan and the Valley of Gold,False,4.0,3.0
34124,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,238781,tt3600588,fr,24 jours,When Ilan Halimi is kidnapped for ransom becau...,...,2014-04-30,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,24 Days,False,6.7,25.0
13604,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,8833,tt0087481,it,Non c'è due senza quattro,Billionaire cousins Bastiano (Terence Hill) an...,...,1984-10-19,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Double Trouble,False,6.6,105.0
5178,False,NaN,50000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,11892,tt0264935,en,Murder by Numbers,Tenacious homicide detective Cassie Mayweather...,...,2002-04-19,56714147.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The only flaw in their plan was her.,Murder by Numbers,False,6.0,275.0

In [10]:
ratings.sample(5)

          userId  movieId  rating   timestamp
22501678  233639     4228     2.0  1006726517
17012960  176769      838     5.0  1465958919
15624876  162595     3275     4.0  1494520960
5165578    53232     1197     5.0  1136859157
21797123  226391     2139     2.0   941537392

In [11]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [12]:
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
wiki_movies_df.columns.tolist()

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade–Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune–Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [14]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie]
len(wiki_movies)

7080

In [15]:
wiki_movies_df = pd.DataFrame(wiki_movies)

In [16]:
len(wiki_movies_df.columns.to_list())

78

In [17]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

In [18]:
len(wiki_movies_df.columns.to_list())

78

In [19]:
wiki_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7080 entries, 0 to 7079
Data columns (total 78 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7080 non-null   object
 1   year                    7080 non-null   int64
 2   imdb_link               7080 non-null   object
 3   title                   7079 non-null   object
 4   Directed by             7078 non-null   object
 5   Produced by             6716 non-null   object
 6   Screenplay by           2319 non-null   object
 7   Story by                1002 non-null   object
 8   Based on                2191 non-null   object
 9   Starring                6895 non-null   object
 10  Narrated by             283 non-null    object
 11  Music by                6482 non-null   object
 12  Cinematography          6380 non-null   object
 13  Edited by               6379 non-null   object
 14  Productioncompany       4529 non-null   object
 15  Distributed by          6579 non-null   object
 16  Release date            6883 non-null   object
 17  Running time            6938 non-null   object
 18  Country                 6685 non-null   object
 19  Language                6832 non-null   object
 20  Budget                  4765 non-null   object
 21  Box office              5517 non-null   object
 22  Written by              4576 non-null   object
 23  Genre                   114 non-null    object
 24  Theme music composer    69 non-null     object
 25  Country of origin       156 non-null    object
 26  Original language(s)    162 non-null    object
 27  Producer(s)             159 non-null    object
 28  Editor(s)               150 non-null    object
 29  Production company(s)   135 non-null    object
 30  Original network        129 non-null    object
 31  Original release        163 non-null    object
 32  Productioncompanies     728 non-null    object
 33  Executive producer(s)   100 non-null    object
 34  Production location(s)  50 non-null     object
 35  Distributor             139 non-null    object
 36  Picture format          68 non-null     object
 37  Audio format            64 non-null     object
 38  Voices of               2 non-null      object
 39  Followed by             9 non-null      object
 40  Composer(s)             9 non-null      object
 41  Created by              11 non-null     object
 42  Also known as           2 non-null      object
 43  Opening theme           1 non-null      object
 44  No. of episodes         4 non-null      object
 45  Preceded by             10 non-null     object
 46  Adaptation by           2 non-null      object
 47  Suggested by            1 non-null      object
 48  Traditional             5 non-null      object
 49  Mandarin                4 non-null      object
 50  Released                2 non-null      object
 51  Recorded                2 non-null      object
 52  Venue                   1 non-null      object
 53  Length                  2 non-null      object
 54  Label                   2 non-null      object
 55  Director                2 non-null      object
 56  Producer                2 non-null      object
 57  Animation by            2 non-null      object
 58  Color process           1 non-null      object
 59  Simplified              4 non-null      object
 60  French                  1 non-null      object
 61  Camera setup            1 non-null      object
 62  Screen story by         1 non-null      object
 63  Hangul                  2 non-null      object
 64  Revised Romanization    2 non-null      object
 65  McCune–Reischauer       2 non-null      object
 66  Original title          1 non-null      object
 67  Japanese                4 non-null      object
 68  Hepburn                 4 non-null      object
 69  Literally               3 non-null      object
 70  Cantonese               1 non-null      object
 71  Chinese                 1 non-null      object
 72  Yiddish                 1 non-null      object
 73  Arabic                  2 non-null      object
 74  Romanized               2 non-null      object
 75  Russian                 1 non-null      object
 76  Hebrew                  1 non-null      object
 77  Polish                  1 non-null      object
dtypes: int64(1), object(77)
memory usage: 4.2+ MB

In [20]:
wiki_movies_df[wiki_movies_df['Adaptation by'].notnull()]

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
536,https://en.wikipedia.org/wiki/The_Last_of_the_...,1992,https://www.imdb.com/title/tt0104691/,The Last of the Mohicans,Michael Mann,"[Michael Mann, Hunt Lowry]","[Michael Mann, Christopher Crowe]",NaN,"[The Last of the Mohicans, by, James Fenimore ...","[Daniel Day-Lewis, Madeleine Stowe, Jodhi May]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,https://en.wikipedia.org/wiki/The_Nightmare_Be...,1993,https://www.imdb.com/title/tt0107688/,The Nightmare Before Christmas,Henry Selick,"[Tim Burton, Denise Di Novi]",Caroline Thompson,NaN,"[Story and characters, by Tim Burton]","[Danny Elfman, Chris Sarandon, Catherine O'Har...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
column_list = sorted(wiki_movies_df.columns.tolist())

In [22]:
i= 0
for col in column_list:  
    print(col)
    temp = wiki_movies_df[wiki_movies_df[col].notnull()]
    print(temp[col])
    count = temp[col].count()
    print(count)
    if count > 0 :
        i += 1
print(i)

Adaptation by
536    [John L. Balderston, Paul Perez, Daniel Moore]
793                                  Michael McDowell
Name: Adaptation by, dtype: object
2
Also known as
69      [Eyes on the Prize I, Eyes on the Prize II]
1345                      Detonator II: Night Watch
Name: Also known as, dtype: object
2
Animation by
1380          [Andreas Deja, Gary Dunn, Deboissy Sylvain]
2035    [Joe Achorn, Edy Benjamin, Munir Bhatti, Thoma...
Name: Animation by, dtype: object
2
Arabic
6838    قضية رقم ٢٣
7062      کفرناحوم‎
Name: Arabic, dtype: object
2
Audio format
26               Stereo
35                 Mono
48               Stereo
51      [Ultra, Stereo]
52                 Mono
             ...
1785             Stereo
1798             Stereo
1811             Stereo
1860             Stereo
2029             Stereo
Name: Audio format, Length: 64, dtype: object
64
Based on
0                             [Characters, by Rex Weiner]
1       [the novel, After Dark, My Sweet, by, Jim Thom...
2                  [Air America, by, Christopher Robbins]
10      [Characters by, Roger Spottiswoode, Walter Hil...
13                         [Awakenings, by, Oliver Sacks]
                              ...
7068      [If Beale Street Could Talk, by, James Baldwin]
7069               [Mary Poppins, by, P. L. Travers, [1]]
7070           [Aquaman, by, Paul Norris, Mort Weisinger]
7071                           [Transformers, by, Hasbro]
7075    [Sherlock Holmes, and, Dr. Watson, by, Sir Art...
Name: Based on, Length: 2191, dtype: object
2191
Box office
0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7074       $19.4 million
7075       $41.9 million
7076       $76.1 million
7077       $38.4 million
7078        $5.5 million
Name: Box office, Length: 5517, dtype: object
5517
Budget
0        $20 million
1         $6 million
2        $35 million
3        $12 million
4        $25 million
            ...
7074    €4.3 million
7075     $42 million
7076     $60 million
7077     $20 million
7078      $9 million
Name: Budget, Length: 4765, dtype: object
4765
Camera setup
2029    Andrew McDonnell
Name: Camera setup, dtype: object
1
Cantonese
6460    [Jip, 6, Man, 6, Saam, 1]
Name: Cantonese, dtype: object
1
Chinese
6624    摇滚藏獒
Name: Chinese, dtype: object
1
Cinematography
0                         Oliver Wood
1                        Mark Plummer
2                       Roger Deakins
3                      Carlo Di Palma
4                        Russell Boyd
                    ...
7075                      Oliver Wood
7076                     Greig Fraser
7077                    Michael Grady
7078                   Julie Kirkwood
7079    [Aaron Morton, Jake Polonsky]
Name: Cinematography, Length: 6380, dtype: object
6380
Color process
1380    Technicolor
Name: Color process, dtype: object
1
Composer(s)
30                                   David E. Cole
649                                 Richard Bellis
988                                Steve Goldstein
994                               J. A. C. Redford
1086                              Steven Bernstein
1176                                   Kevin Kiner
2010                               Eduard Artemyev
2029                                    Hal Lindes
2106    [Jim Goodwin, Richard McHugh, Mike Slamer]
Name: Composer(s), dtype: object
9
Country
0        United States
1        United States
2        United States
3        United States
4                   US
             ...
7075     United States
7076     United States
7077     United States
7078     United States
7079    United Kingdom
Name: Country, Length: 6685, dtype: object
6685
Country of origin
19      United States
26      United States
28      United States
30      United States
32      United States
            ...
3146    United States
3232    United States
3758    United States
4030    United States
5486    United States
Name: Country of origin, Length: 156, dtype: object
156
Created by
52                     [John William Corrington, (novel)]
576                               [Willa Cather, (novel)]
881                                       Kenneth Johnson
962                                           Gary Larson
1421                                     David McCullough
1450                                      Kenneth Johnson
1451                                      Kenneth Johnson
1798                                      Kenneth Johnson
2029                                          Paul Abbott
2115                                 G.D. Gearino (novel)
2621    [Sony Pictures Entertainment, A&E Television N...
Name: Created by, dtype: object
11
Directed by
0             Renny Harlin
1              James Foley
2       Roger Spottiswoode
3              Woody Allen
4             John Cornell
               ...
7075            Etan Cohen
7076            Adam McKay
7077            Mimi Leder
7078          Karyn Kusama
7079           David Slade
Name: Directed by, Length: 7078, dtype: object
7078
Director
965     Mark "Aldo" Miceli
1350         Rocky Schenck
Name: Director, dtype: object
2
Distributed by
0              20th Century Fox
1               Avenue Pictures
2              TriStar Pictures
3                Orion Pictures
4            Paramount Pictures
                 ...
7075    Sony Pictures Releasing
7076           Mirror Releasing
7077             Focus Features
7078           Mirror Releasing
7079                    Netflix
Name: Distributed by, Length: 6579, dtype: object
6579
Distributor
26                                                    NBC
28      [McDonald's, (sponsorship), Ronald McDonald Ch...
32                                                    CBS
35                               Fox Broadcasting Company
48                     [CBS, King Features Entertainment]
                              ...
3758                                      New Line Cinema
3838                                   Paramount Pictures
3929    [Steeplechase Films, Daniel Wolf, High Line Pr...
4030    [Marvista Entertainment, Echo Bridge Home Ente...
5486                                  [YouTube, Facebook]
Name: Distributor, Length: 139, dtype: object
139
Edited by
0                      Michael Tronick
1                      Howard E. Smith
2       [John Bloom, Lois Freeman-Fox]
3                       Susan E. Morse
4                         David Stiven
                     ...
7075                    Dean Zimmerman
7076                       Hank Corwin
7077                   Michelle Tesoro
7078                     Plummy Tucker
7079                       Tony Kearns
Name: Edited by, Length: 6379, dtype: object
6379
Editor(s)
19      [Christopher Cooke, James Galloway]
26                             Larry Harris
28                               Jay Bixsen
32                     Benjamin A. Weissman
35                          Sidney Wolinsky
                       ...
3146                  Richard Francis-Bruce
3232                       William B. Stich
3838                         David Tedeschi
3929          [Li-Shin Yu, Juliana Parroni]
4030                         Bethany Sutton
Name: Editor(s), Length: 150, dtype: object
150
Executive producer(s)
26                                          Rich Melcombe
28                                          Roy E. Disney
32                                              Mike Robe
35                  [James G. Hirsch, Robert A. Papazian]
48                  [Gerald W. Abrams, Harry B. Chandler]
                              ...
2551                                           Heidi Wall
2638                     [Jellybean Benítez, Andy García]
3039    [Bryan Fuller, David Carson, Mark Stern, Pen D...
3146    [Cary Brokaw, John Frankenheimer, Edgar J. Sch...
3232    [Gerald W. Abrams, Michael R. Goldstein, Rober...
Name: Executive producer(s), Length: 100, dtype: object
100
Followed by
28                                   See below
432          Sometimes They Come Back... Again
608     Revenge of the Nerds IV: Nerds in Love
886                         Midnight Runaround
1029                Midnight Run for Your Life
1203                  Escape to Witch Mountain
1228                             Freaky Friday
1517                 Dallas: War of the Ewings
1704                      Sabrina Goes to Rome
Name: Followed by, dtype: object
9
French
1891    Le Cinquième Élément
Name: French, dtype: object
1
Genre
19                              Thriller
26           [Action, Adventure, Comedy]
28                  Social guidance film
32             Mystery/Thriller/Suspense
35                   [Mystery, Thriller]
                      ...
2379                [Disaster, Thriller]
2548                               Drama
3039    [Horror, [1], [2], Fantasy, [1]]
3146     [Biographical, television film]
4030               [Disaster, Adventure]
Name: Genre, Length: 114, dtype: object
114
Hangul
3417    원더풀 데이즈
4242     파이 스토리
Name: Hangul, dtype: object
2
Hebrew
6866    פוֹקְסטְרוֹט
Name: Hebrew, dtype: object
1
Hepburn
6397                                     Omoide no Mānī
6833                              Meari to Majo no Hana
7013    Boku no Hīrō Akademia THE MOVIE: Futari no Hīrō
7058                                     Manbiki Kazoku
Name: Hepburn, dtype: object
4
Japanese
6397                                             思い出のマーニー
6833                                             メアリと魔女の花
7013    [僕のヒーローアカデミア THE MOVIE ～２人の, .mw-parser-output...
7058                                                万引き家族
Name: Japanese, dtype: object
4
Label
965     [Warner Music Vision, Warner-Reprise Video, Ma...
1350                                             Columbia
Name: Label, dtype: object
2
Language
0              English
1              English
2       [English, Lao]
3              English
4              English
             ...
7075           English
7076           English
7077           English
7078           English
7079           English
Name: Language, Length: 6832, dtype: object
6832
Length
965        117 mins
1350    [25, :, 03]
Name: Length, dtype: object
2
Literally
6397    Marnie of [my] Memories
6838                Case No. 23
7058         Shoplifting Family
Name: Literally, dtype: object
3
Mandarin
860                 Xǐyàn
1537    Dōng Gōng Xī Gōng
6460           Yè Wèn Sān
6617          Cháng Chéng
Name: Mandarin, dtype: object
4
McCune–Reischauer
3417    Wŏndŏp‘ul teijŭ
4242       P‘ai sŭt‘ori
Name: McCune–Reischauer, dtype: object
2
Music by
0       [Cliff Eidelman, Yello]
1                 Maurice Jarre
2                 Charles Gross
4                 Maurice Jarre
5                 Jay Chattaway
                 ...
7075          Mark Mothersbaugh
7076           Nicholas Britell
7077              Mychael Danna
7078           Theodore Shapiro
7079             Brian Reitzell
Name: Music by, Length: 6482, dtype: object
6482
Narrated by
0                                      Andrew "Dice" Clay
69                                            Julian Bond
80                                              John Hurt
118                                              Tim Reid
131                                      Mary Steenburgen
                              ...
6665    [John Krasinski, (American release), Zhou Xun,...
6883                                    Courtney B. Vance
7007                    [Samuel L. Jackson, Lorenza Izzo]
7011                                        Michael Moore
7045                                    Pharrell Williams
Name: Narrated by, Length: 283, dtype: object
283
No. of episodes
69      14
486      1
1106     4
2029     1
Name: No. of episodes, dtype: object
4
Opening theme
69    [", Keep Your Eyes on the Prize, "]
Name: Opening theme, dtype: object
1
Original language(s)
19      English
26      English
28      English
30      English
32      English
         ...
3232    English
3758    English
3838    English
3929    English
4030    English
Name: Original language(s), Length: 162, dtype: object
162
Original network
19                                                 NBC
26                                                 NBC
28      [ABC, NBC, Fox, CBS, USA Network, Syndication]
30                       American Broadcasting Company
32                                                 CBS
                             ...
2638                                               HBO
3039                                               NBC
3118                                               HBO
3146                                               HBO
3232                                                FX
Name: Original network, Length: 129, dtype: object
129
Original release
19                                      February 11, 1990
26                                     September 23, 1990
28      [April 21, 1990, (, 1990-04-21, ), (USA), June...
30                  [February 25, 1990, (, 1990-02-25, )]
32                                            May 1, 1990
                              ...
3758                [December 10, 2005, (, 2005-12-10, )]
3838                    [July 21, 2005, (, 2005-07-21, )]
3929                [September 1, 2006, (, 2006-09-01, )]
4030                [February 25, 2006, (, 2006-02-25, )]
5486                   [16 August 2012, (, 2012-08-16, )]
Name: Original release, Length: 163, dtype: object
163
Original title
4794    ואלס עם באשיר
Name: Original title, dtype: object
1
Picture format
26      Color
35      Color
48      Color
51      Color
52      Color
        ...
1785    Color
1798    Color
1811    Color
1860    Color
2029      4:3
Name: Picture format, Length: 68, dtype: object
68
Polish
7074    Zimna wojna
Name: Polish, dtype: object
1
Preceded by
186                                        Psycho III
495                             [Blind Faith, (1990)]
608        Revenge of the Nerds II: Nerds in Paradise
893                                         The Birds
1028                               Midnight Runaround
1076    Revenge of the Nerds III: The Next Generation
1203                                   The Shaggy Dog
1228                   The Computer Wore Tennis Shoes
1370                                  Problem Child 2
1517                                           Dallas
Name: Preceded by, dtype: object
10
Produced by
0                              [Steve Perry, Joel Silver]
1                             [Ric Kidney, Robert Redlin]
2                                          Daniel Melnick
3                                         Robert Greenhut
4                                            John Cornell
                              ...
7075    [Will Ferrell, Adam McKay, Jimmy Miller, Clayt...
7076    [Brad Pitt, Dede Gardner, Jeremy Kleiner, Kevi...
7077                                       Robert W. Cort
7078               [Fred Berger, Phil Hay, Matt Manfredi]
7079                                       Russell McLean
Name: Produced by, Length: 6716, dtype: object
6716
Producer
965                                   Marty Callner
1350    [Toby "Flobee" Wright, and Alice in Chains]
Name: Producer, dtype: object
2
Producer(s)
19      [Susan Baerwald (executive producer), Dan Wigu...
26      [Scott Maitland (co-producer), Bennett Tramer ...
28                                          Buzz Potamkin
30      [George Englund, Courtney Pledger, Debbie Robins]
32      [Ian Martin, John Perrin Flynn (co-producer), ...
                              ...
3232                                     Daniel Schneider
3758    [Eric Manlunas, (executive), Vivica A. Fox, Li...
3838    [Susan Lacy, Jeff Rosen, Martin Scorsese, Nige...
3929    [Peter M. Brant, Donald Rosenfeld, Daniel Wolf...
4030    [Jaye Gazeley, Michael Jacobs, Harvey Kahn, Ro...
Name: Producer(s), Length: 159, dtype: object
159

Production company(s)
19                                        NBC Productions
26                 [NBC Productions, Richmel Productions]
28      [Southern Star Productions, Wang Film Producti...
32      [Allied Communications, Jayhawk Productions, M...
35      [MCA Television Entertainment, Papazian-Hirsch...
                              ...
3118                            [Good Machine, HBO Films]
3146    [Avenue Pictures, Edgar J. Scherick Associates...
3232    [Cypress Point Productions, Mopo Entertainment...
4030       [Front Street Pictures, Lava Lane Productions]
5486                                         B-Reel Films
Name: Production company(s), Length: 135, dtype: object
135
Production location(s)
26      [Paramount Ranch - 2813 Cornell Road,, Agoura,...
48                                               Budapest
51                                            Los Angeles
52                [Agness Scott College, Newnan, Georgia]
69                                          United States
158                           [Cincinnati, Wyoming, Ohio]
186                             Universal Studios Florida
215     [Mount Dora, Florida, Orlando, Florida, New Yo...
432     [Kansas City, Kansas, Liberty, Missouri, Roche...
454               [Malibu, California, Santa Monica Pier]
486                                             Vancouver
576              [Johnstown, Nebraska, Lincoln, Nebraska]
608     [357 S. Lorraine Blvd., Los Angeles, Californi...
649                                             Vancouver
875                                   Ouarzazate, Morocco
881                           Pasadena Ambassador College
886     [2nd Street Tunnel between Hill and Figueroa, ...
893     [Southport, North Carolina, Wilmington, North ...
925         [Chateau Bradbury Estate, Malibu, California]
927                     [Los Angeles, Venice, California]
970                                               Vilnius
994                                             Nashville
1080                                 Whittier, California
1106    [Garden of the Gods, Colorado Springs, Colorad...
1143                                              Houston
1203                                          Los Angeles
1247    Los Angeles County Museum of Art - 5905 Wilshi...
1256           [1090 Rubio Street,, Altadena, California]
1281                                          Los Angeles
1311    RMS Queen Mary - 1126 Queens Highway, Long Bea...
1421    [Independence, Missouri, Kansas City, Missouri...
1450                                          Los Angeles
1451                                          Los Angeles
1481                                              Toronto
1502                                    Ashland, Virginia
1553    [4th Street Viaduct, Los Angeles, California, ...
1578                                            Vancouver
1649                                         Buenos Aires
1699          [Budapest, Hungary, St. Petersburg, Russia]
1753                                        Austin, Texas
1757                                              Toronto
1779                               West Valley City, Utah
1783    [Raleigh Studios - 5300 Melrose Avenue, Hollyw...
1784    [Pinewood Studios, Iver Heath, Buckinghamshire...
1785    [Village Roadshow Studios, Oxenford, Queenslan...
1798                                          Los Angeles
1811       [Kansas City, Missouri, Denver, Irving, Texas]
1860                                            San Diego
2277                                     Washington, D.C.
3039              [Vancouver, , British Columbia, Canada]
Name: Production location(s), dtype: object
50
Productioncompanies
21      [Lightning Pictures, Mack-Taylor Productions, ...
27      [Marvel Entertainment Group, Jadran Film, 21st...
45                                        Tig Productions
53                   [Bonded Filmworks, Orpheus Pictures]
86                                        SAH Enterprises
                              ...
7056    [Espectáculos Fílmicos El Coyúl, [1], [2], Pim...
7057    [Scarlet Films, [1], Element Pictures, [1], Ar...
7065    [Columbia Pictures, Sony Pictures Animation, M...
7075    [Columbia Pictures, Gary Sanchez Productions, ...
7077    [Focus Features, [1], Participant Media, [1], ...
Name: Productioncompanies , Length: 728, dtype: object
728
Productioncompany
0                                         Silver Pictures
1                                         Avenue Pictures
2                   [Carolco Pictures, IndieProd Company]
5                                        Epic Productions
6       [Cabin Creek, Catholic Communication Campaign,...
                              ...
7073    [STX Films, H. Brothers, TMP, Nuyorican Produc...
7074    [Opus Film, Polish Film Institute, MK2 Films, ...
7076    [Plan B Entertainment, Gary Sanchez Production...
7078    [30West, Automatik Entertainment, Annapurna Pi...
7079                         [House of Tomorrow, Netflix]
Name: Productioncompany , Length: 4529, dtype: object
4529
Recorded
965     November 19, 1993
1350                 1995
Name: Recorded, dtype: object
2
Release date
0                       [July 11, 1990, (, 1990-07-11, )]
1       [May 17, 1990, (, 1990-05-17, ), (Cannes Film ...
2                     [August 10, 1990, (, 1990-08-10, )]
3                   [December 25, 1990, (, 1990-12-25, )]
4                                       December 19, 1990
                              ...
7075    [December 25, 2018, (, 2018-12-25, ), (United ...
7076    [December 11, 2018, (, 2018-12-11, ), (, Samue...
7077    [November 8, 2018, (, 2018-11-08, ), (, AFI Fe...
7078    [August 31, 2018, (, 2018-08-31, ), (, Telluri...
7079                 [28 December 2018, (, 2018-12-28, )]
Name: Release date, Length: 6883, dtype: object
6883
Released
965        April 25, 1994
1350    December 12, 1995
Name: Released, dtype: object
2
Revised Romanization
3417    Wondeopul deijeu
4242         Pai seutori
Name: Revised Romanization, dtype: object
2
Romanized
6838    Qadiyya raqm 23
6853           Nelyubov
Name: Romanized, dtype: object
2
Running time
0                                 102 minutes
1                                 114 minutes
2                                 113 minutes
3                                 106 minutes
4                                  95 minutes
                        ...
7075                               90 minutes
7076                              132 minutes
7077                              120 minutes
7078                              123 minutes
7079    Variable; 90 minutes for default path
Name: Running time, Length: 6938, dtype: object
6938
Russian
6853    Нелюбовь
Name: Russian, dtype: object
1
Screen story by
2787    Ian Watson
Name: Screen story by, dtype: object
1
Screenplay by
0          [David Arnott, James Cappe, Daniel Waters]
1                        [James Foley, Robert Redlin]
2                          [John Eskow, Richard Rush]
10             [John Fasano, Jeb Stuart, Larry Gross]
11                        [Don Jakoby, Wesley Strick]
                            ...
7068                                    Barry Jenkins
7069                                      David Magee
7070    [David Leslie Johnson-McGoldrick, Will Beall]
7072             [Caroline Thompson, Robert Zemeckis]
7075                                       Etan Cohen
Name: Screenplay by, Length: 2319, dtype: object
2319
Simplified
1537       东宫西宫
6460        叶问3
6617         长城
6665    我们诞生在中国
Name: Simplified, dtype: object
4
Starring
0       [Andrew Dice Clay, Wayne Newton, Priscilla Pre...
1       [Jason Patric, Rachel Ward, Bruce Dern, George...
2       [Mel Gibson, Robert Downey Jr., Nancy Travis, ...
3       [Alec Baldwin, Blythe Danner, Judy Davis, Mia ...
4             [Paul Hogan, Elias Koteas, Linda Kozlowski]
                              ...
7075    [Will Ferrell, John C. Reilly, Rebecca Hall, R...
7076    [Christian Bale, Amy Adams, Steve Carell, Sam ...
7077    [Felicity Jones, Armie Hammer, Justin Theroux,...
7078    [Nicole Kidman, Sebastian Stan, Toby Kebbell, ...
7079    [Fionn Whitehead, Will Poulter, Craig Parkinso...
Name: Starring, Length: 6895, dtype: object
6895
Story by
0                             [David Arnott, James Cappe]
10                                         Fred Braughton
11                              [Don Jakoby, Al Williams]
14                            [Robert Zemeckis, Bob Gale]
19                                          Joe McGinniss
                              ...
7054                                         Ben Chandler
7062    [Georges Khabbaz, Nadine Labaki, Michelle Kese...
7065                                            Phil Lord
7069             [David Magee, Rob Marshall, John DeLuca]
7070                 [Geoff Johns, James Wan, Will Beall]
Name: Story by, Length: 1002, dtype: object
1002
Suggested by
616    [Character from, Profumo di donna, by, Ruggero...
Name: Suggested by, dtype: object
1
Theme music composer
19                                     Laurence Rosenthal
26                                           Michael Cruz
28      [Richard Kosinski, Sam Winans, Paul Buckmaster...
32                                              Mark Snow
38                                           Nan Schwartz
                              ...
2991                                        Maurice Jarre
3146                                           Gary Chang
3232                                    George S. Clinton
3929                                          Brian Keane
4030                              Michael Richard Plowman
Name: Theme music composer, Length: 69, dtype: object
69
Traditional
860          喜宴
1537       東宮西宮
6460        葉問3
6617         長城
6665    我們誕生在中國
Name: Traditional, dtype: object
5
Venue
965    [Sydney Cricket Ground, (, Sydney, Australia, )]
Name: Venue, dtype: object
1
Voices of
28                                         See full below
1086    [Don Messick, Casey Kasem, Eddie Deezen, Greg ...
Name: Voices of, dtype: object
2
Written by
3                                             Woody Allen
4                                              Paul Hogan
5                                             Larry Cohen
7                                            David Geeves
8                                        Terrence McNally
                              ...
7074    [Paweł Pawlikowski, Janusz Głowacki, Piotr Bor...
7076                                           Adam McKay
7077                                    Daniel Stiepleman
7078                            [Phil Hay, Matt Manfredi]
7079                                      Charlie Brooker
Name: Written by, Length: 4576, dtype: object
4576
Yiddish
6723    מנשה
Name: Yiddish, dtype: object
1
imdb_link
0       https://www.imdb.com/title/tt0098987/
1       https://www.imdb.com/title/tt0098994/
2       https://www.imdb.com/title/tt0099005/
3       https://www.imdb.com/title/tt0099012/
4       https://www.imdb.com/title/tt0099018/
                        ...
7075    https://www.imdb.com/title/tt1255919/
7076    https://www.imdb.com/title/tt6266538/
7077    https://www.imdb.com/title/tt4669788/
7078    https://www.imdb.com/title/tt7137380/
7079    https://www.imdb.com/title/tt9495224/
Name: imdb_link, Length: 7080, dtype: object
7080
title
0       The Adventures of Ford Fairlane
1                  After Dark, My Sweet
2                           Air America
3                                 Alice
4                       Almost an Angel
                     ...
7075                    Holmes & Watson
7076                               Vice
7077                On the Basis of Sex
7078                          Destroyer
7079                       Bandersnatch
Name: title, Length: 7079, dtype: object
7079
url
0       https://en.wikipedia.org/wiki/The_Adventures_o...
1       https://en.wikipedia.org/wiki/After_Dark,_My_S...
2        https://en.wikipedia.org/wiki/Air_America_(film)
3         https://en.wikipedia.org/wiki/Alice_(1990_film)
4           https://en.wikipedia.org/wiki/Almost_an_Angel
                              ...
7075      https://en.wikipedia.org/wiki/Holmes_%26_Watson
7076       https://en.wikipedia.org/wiki/Vice_(2018_film)
7077    https://en.wikipedia.org/wiki/On_the_Basis_of_Sex
7078    https://en.wikipedia.org/wiki/Destroyer_(2018_...
7079    https://en.wikipedia.org/wiki/Black_Mirror:_Ba...
Name: url, Length: 7080, dtype: object
7080
year
0       1990
1       1990
2       1990
3       1990
4       1990
        ...
7075    2018
7076    2018
7077    2018
7078    2018
7079    2018
Name: year, Length: 7080, dtype: int64
7080
78

In [23]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        print(alt_titles)
        movie['alt_titles'] = alt_titles
# merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    
    return movie

In [24]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

{'Mandarin': 'Xǐyàn', 'Traditional': '喜宴'}
{'Also known as': 'Detonator II: Night Watch'}
{'Mandarin': 'Dōng Gōng Xī Gōng', 'Simplified': '东宫西宫', 'Traditional': '東宮西宮'}
{'French': 'Le Cinquième Élément'}
{'Hangul': '원더풀 데이즈', 'McCune–Reischauer': 'Wŏndŏp‘ul teijŭ', 'Revised Romanization': 'Wondeopul deijeu'}
{'Hangul': '파이 스토리', 'McCune–Reischauer': 'P‘ai sŭt‘ori', 'Revised Romanization': 'Pai seutori'}
{'Original title': 'ואלס עם באשיר'}
{'Hepburn': 'Omoide no Mānī', 'Japanese': '思い出のマーニー', 'Literally': 'Marnie of [my] Memories'}
{'Cantonese': ['Jip', '6', 'Man', '6', 'Saam', '1'], 'Mandarin': 'Yè Wèn Sān', 'Simplified': '叶问3', 'Traditional': '葉問3'}
{'Mandarin': 'Cháng Chéng', 'Simplified': '长城', 'Traditional': '長城'}
{'Chinese': '摇滚藏獒'}
{'Simplified': '我们诞生在中国', 'Traditional': '我們誕生在中國'}
{'Yiddish': 'מנשה'}
{'Hepburn': 'Meari to Majo no Hana', 'Japanese': 'メアリと魔女の花'}
{'Arabic': 'قضية رقم ٢٣', 'Literally': 'Case No. 23', 'Romanized': 'Qadiyya raqm 23'}
{'Romanized': 'Nelyubov', 'Russian': 'Нелюбовь'}
{'Hebrew': 'פוֹקְסטְרוֹט'}
{'Hepburn': 'Boku no Hīrō Akademia THE MOVIE: Futari no Hīrō', 'Japanese': ['僕のヒーローアカデミア THE MOVIE ～２人の', '.mw-parser-output ruby>rt,.mw-parser-output ruby>rtc{font-feature-settings:"ruby"1}.mw-parser-output ruby.large{font-size:250%}.mw-parser-output ruby.large>rt,.mw-parser-output ruby.large>rtc{font-size:.3em}', '英雄', '（', 'ヒーロー', '）', '～']}
{'Hepburn': 'Manbiki Kazoku', 'Japanese': '万引き家族', 'Literally': 'Shoplifting Family'}
{'Arabic': 'کفرناحوم\u200e'}
{'Polish': 'Zimna wojna'}

In [25]:
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [26]:
import numpy as np
x = wiki_movies_df[['url','alt_titles']]

In [27]:
x.head(100)

                                                  url alt_titles
0   https://en.wikipedia.org/wiki/The_Adventures_o...        NaN
1   https://en.wikipedia.org/wiki/After_Dark,_My_S...        NaN
2    https://en.wikipedia.org/wiki/Air_America_(film)        NaN
3     https://en.wikipedia.org/wiki/Alice_(1990_film)        NaN
4       https://en.wikipedia.org/wiki/Almost_an_Angel        NaN
..                                                ...        ...
95  https://en.wikipedia.org/wiki/The_Guardian_(19...        NaN
96          https://en.wikipedia.org/wiki/Guns_(film)        NaN
97           https://en.wikipedia.org/wiki/The_Guyver        NaN
98  https://en.wikipedia.org/wiki/The_Handmaid%27s...        NaN
99         https://en.wikipedia.org/wiki/Hard_to_Kill        NaN

[100 rows x 2 columns]

In [28]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

In [29]:
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

7076
7033

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [30]:
wiki_movies_df[wiki_movies_df['Venue'].notnull()]

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
963,https://en.wikipedia.org/wiki/The_Girlie_Show_...,1994,https://www.imdb.com/title/tt0168052/,The Girlie Show: Live Down Under,NaN,NaN,NaN,NaN,"April 25, 1994",117 mins,...,NaN,NaN,NaN,NaN,"November 19, 1993","[Sydney Cricket Ground, (, Sydney, Australia, )]","[Warner Music Vision, Warner-Reprise Video, Ma...",NaN,NaN,tt0168052

In [31]:
wiki_movies_df.loc[963]

url                       https://en.wikipedia.org/wiki/The_Girlie_Show_...
year                                                                   1994
imdb_link                             https://www.imdb.com/title/tt0168052/
title                                      The Girlie Show: Live Down Under
Based on                                                                NaN
Starring                                                                NaN
Narrated by                                                             NaN
Cinematography                                                          NaN
Release date                                                 April 25, 1994
Running time                                                       117 mins
Country                                                                 NaN
Language                                                                NaN
Budget                                                                  NaN
Box office                                                              NaN
Director                                                 Mark "Aldo" Miceli
Distributor                                                             NaN
Editor(s)                                                               NaN
Composer(s)                                                             NaN
Producer(s)                                                   Marty Callner
Production company(s)                                                   NaN
Writer(s)                                                               NaN
Genre                                                                  Live
Original language(s)                                                    NaN
Original network                                                        NaN
Executive producer(s)                                                   NaN
Production location(s)                                                  NaN
Picture format                                                          NaN
Audio format                                                            NaN
Voices of                                                               NaN
Followed by                                                             NaN
Created by                                                              NaN
Preceded by                                                             NaN
Suggested by                                                            NaN
alt_titles                                                              NaN
Recorded                                                  November 19, 1993
Venue                      [Sydney Cricket Ground, (, Sydney, Australia, )]
Label                     [Warner Music Vision, Warner-Reprise Video, Ma...
Animation by                                                            NaN
Color process                                                           NaN
imdb_id                                                           tt0168052
Name: 963, dtype: object

In [32]:
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4852],
 ['Starring', 184],
 ['Narrated by', 6752],
 ['Cinematography', 691],
 ['Release date', 32],
 ['Running time', 139],
 ['Country', 236],
 ['Language', 244],
 ['Budget', 2295],
 ['Box office', 1548],
 ['Director', 0],
 ['Distributor', 357],
 ['Editor(s)', 548],
 ['Composer(s)', 518],
 ['Producer(s)', 202],
 ['Production company(s)', 1678],
 ['Writer(s)', 199],
 ['Genre', 6923],
 ['Original language(s)', 6875],
 ['Original network', 6908],
 ['Executive producer(s)', 6936],
 ['Production location(s)', 6986],
 ['Picture format', 6969],
 ['Audio format', 6972],
 ['Voices of', 7031],
 ['Followed by', 7024],
 ['Created by', 7023],
 ['Preceded by', 7023],
 ['Suggested by', 7032],
 ['alt_titles', 7012],
 ['Recorded', 7031],
 ['Venue', 7032],
 ['Label', 7031],
 ['Animation by', 7031],
 ['Color process', 7032],
 ['imdb_id', 0]]

In [33]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [34]:
sorted(wiki_movies_df.columns.tolist())

['Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Composer(s)',
 'Country',
 'Director',
 'Distributor',
 'Editor(s)',
 'Language',
 'Producer(s)',
 'Production company(s)',
 'Release date',
 'Running time',
 'Starring',
 'Writer(s)',
 'imdb_id',
 'imdb_link',
 'title',
 'url',
 'year']

In [35]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [36]:
box_office = wiki_movies_df['Box office'].dropna()

In [37]:
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [38]:
def is_not_a_string(x):
    return type(x) != str

In [39]:
box_office[box_office.map(is_not_a_string)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [40]:
box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [41]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [42]:
import re

In [43]:
form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [44]:
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3896

In [45]:
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

1544

In [46]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

In [47]:
box_office[~matches_form_one & ~matches_form_two]

34                         US$ 4,212,828
79                              $335.000
110                   $4.35-4.37 million
130                        US$ 4,803,039
600                           $5000 (US)
731                         $ 11,146,270
957                             $ 50,004
1070                          35,254,617
1147    $ 407,618 (U.S.) (sub-total) [1]
1446                        $ 11,829,959
1480                          £3 million
1611                            $520.000
1865                        ¥1.1 billion
2032                                 N/A
2091                                $309
2130               US$ 171.8 million [9]
2257                   US$ 3,395,581 [1]
2263            $ 1,223,034 ( domestic )
2347                            $282.175
2638            $ 104,883 (US sub-total)
2665         926,423 admissions (France)
2697      $ 1.7 million (US) (sub-total)
2823                            $414.000
2924                            $621.000
3088           $32 [2] –33.1 million [1]
3631                                 TBA
3859                  $38.9–40.3 million
3879            CN¥3.650 million (China)
4116                          £7,385,434
4123                            $161.000
4261                  $20.7–23.9 million
4306                              $20-30
4492                        $47.7 millon
4561             $45.2k (only in Turkey)
4662                USD$ 8.2 million [2]
5362                   $ 142 million [3]
5447                               £2.56
5784                            413 733$
6013                             Unknown
6145                  $17.5–18.4 million
6234                  $41.8–41.9 million
6369                               $111k
6370                                $588
6593                      less than $372
6829                    $ 41 million [3]
6843                             8 crore
6904                         $6.9 millon
Name: Box office, dtype: object

In [48]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [49]:
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [50]:
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [51]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan
    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        # convert to float and multiply by a million
        value = float(s) * 10**6
        # return value
        return value
    
    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        # convert to float and multiply by a billion
        value = float(s) * 10**9
        # return value
        return value
    
    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)
        # convert to float
        value = float(s)
        # return value
        return value
    
    # otherwise, return NaN
    else:
        return np.nan

In [52]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [53]:
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [54]:
wiki_movies_df.loc[(wiki_movies_df.box_office == np.nan)]

Empty DataFrame
Columns: [url, year, imdb_link, title, Based on, Starring, Cinematography, Release date, Running time, Country, Language, Budget, Director, Distributor, Editor(s), Composer(s), Producer(s), Production company(s), Writer(s), imdb_id, box_office]
Index: []

[0 rows x 21 columns]

In [ ]:
wiki_movies_df['box_office']

In [ ]:
for i in wiki_movies_df['box_office'] :
    if i == 21400000.0:
        print(i)

In [55]:
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
budget.describe

In [56]:
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [57]:
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
budget

In [ ]:
wiki_movies_df.loc[110]

In [58]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973             $34 [3] [4] million
1126               $120 [4] million
1226                        Unknown
1278                            HBO
1374                     £6,000,000
1397                     13 million
1480                   £2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ₤2,300,874
2281                     $14 milion
2451                     ₤6,350,000
3144                   € 40 million
3360               $150 [6] million
3418                        $218.32
3802                   £4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    £17 million
5034              $$200 [4] million
5055           $155 [2] [3] million
5419                $40 [4] million
5424                            N/A
5447                     £4 million
5671                    €14 million
5687                   $ dead link]
6385               £ 12 million [3]
6593                     £3 million
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
7070                   €4.3 million
Name: Budget, dtype: object

In [59]:
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973                     $34 million
1126                   $120 million
1226                        Unknown
1278                            HBO
1374                     £6,000,000
1397                     13 million
1480                   £2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ₤2,300,874
2281                     $14 milion
2451                     ₤6,350,000
3144                   € 40 million
3360                   $150 million
3418                        $218.32
3802                   £4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    £17 million
5034                  $$200 million
5055                   $155 million
5419                    $40 million
5424                            N/A
5447                     £4 million
5671                    €14 million
5687                   $ dead link]
6385                  £ 12 million
6593                     £3 million
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
7070                   €4.3 million
Name: Budget, dtype: object

In [60]:
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [61]:
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [62]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [63]:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [64]:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073               2018
7074    August 31, 2018
7075      December 2018

[7001 rows x 1 columns]

In [65]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [66]:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [67]:
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

6528

In [68]:
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]

9                                                 102 min
26                                                 93 min
28                                                32 min.
34                                                101 min
35                                                 97 min
                              ...
6500       114 minutes [1] 120 minutes (extended edition)
6643                                             104 mins
6709    90 minutes (theatrical) [1] 91 minutes (unrate...
7057    108 minutes (Original cut) 98 minutes (UK cut)...
7075                Variable; 90 minutes for default path
Name: Running time, Length: 366, dtype: object

In [69]:
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()

6877

In [82]:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]

668                     UK:84 min (DVD version) US:86 min
727                         78-102 min (depending on cut)
840                       Varies (79 [3] –84 [1] minutes)
1347                                              25 : 03
1443    United States: 77 minutes Argentina: 94 minute...
1499                                            1hr 35min
1551                                               varies
1774                    Netherlands:96 min, Canada:95 min
1777                                       approx. 14 min
2273                                           1 h 43 min
2993                                               1h 48m
3925                                              4 hours
4425    US domestic version: 86 minutes Original versi...
4967    Theatrical cut: 97 minutes Unrated cut: 107 mi...
5424                    115 [1] /123 [2] /128 [3] minutes
5447                                    1 hour 32 minutes
7075                Variable; 90 minutes for default path
Name: Running time, dtype: object

In [83]:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE)]

0       102 minutes
1       114 minutes
2       113 minutes
3       106 minutes
4        95 minutes
           ...
7070     88 minutes
7071     90 minutes
7072    132 minutes
7073    120 minutes
7074    123 minutes
Name: Running time, Length: 6877, dtype: object

In [84]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [79]:
running_time_extract

        0    1    2
0     NaN  NaN  102
1     NaN  NaN  114
2     NaN  NaN  113
3     NaN  NaN  106
4     NaN  NaN   95
...   ...  ...  ...
7071  NaN  NaN   90
7072  NaN  NaN  132
7073  NaN  NaN  120
7074  NaN  NaN  123
7075  NaN  NaN   90

[6894 rows x 3 columns]

In [80]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [81]:
running_time_extract

        0    1      2
0     0.0  0.0  102.0
1     0.0  0.0  114.0
2     0.0  0.0  113.0
3     0.0  0.0  106.0
4     0.0  0.0   95.0
...   ...  ...    ...
7071  0.0  0.0   90.0
7072  0.0  0.0  132.0
7073  0.0  0.0  120.0
7074  0.0  0.0  123.0
7075  0.0  0.0   90.0

[6894 rows x 3 columns]

In [85]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [86]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)